doctype html
html(dir='ltr', lang='en')
  head
    meta(charset='utf-8')
    title CatMash - Ranking
    link(rel='stylesheet', href='ranking.css')
  body
    h1 Ranking
  mixin print_cat(cat)
      img.cat_img(src=cat.cat_url)
      p.cat_score= cat.cat_score
      |
      br
      |
  for cat in catsData
    +print_cat(cat)
