h1 {
  text-align: center;
}

.container {
  display: flex;
  height: 50vh;
  width: 100%;
  justify-content: space-around;
}

.img_container {
  width: 250px;
  height: 250px;
  border: solid 1px black;
  position: relative;
}

.img_container img {
  width: 250px;
  height: 250px;
}
