body {
      background-image: linear-gradient(to right, #ff7682, #ff7497, #ff75af, #ff79c9, #ff80e3);
}
* {
  box-sizing: border-box;
}
.page_title {
  font-family: 'Chango';
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3.4vw;
}
.img_container {
  width: 30vw;
  height: 30vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.cat_img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.cat_votes {
  font-family: 'Lato';
  position: relative;
  bottom: 56%;
  left: 90%;
  transform: translate(-50%, -50%);
  display: inline;
  font-size: 4vw;
  color: white;
}
.cat_rank {
  font-family: 'Lato';
  position: relative;
  bottom: 59%;
  transform: translate(-50%, -50%);
  display: inline;
  font-size: 6vw;
  right: 90%;
  color: white;
}
.goVote {
  position: absolute;
  z-index: 20;
  transform: translate(-50%, -50%);
  top: 8%;
  right: -2%;
  transition: 0.5s background-color ease;
  text-decoration: none;
  background-color: #ff93e7;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-family: 'Chango';
  font-size: 1.5vw;
}
.goVote:hover {
  background-color: #ff64dd;;
}
